<form (ngSubmit)="searching()" class="form-inline search-box-container">
  <nb-form-field *ngIf="show_search">
    <input type="text" nbInput fullWidth [(ngModel)]="baConfPage.q" [ngModelOptions]="{standalone: true}"
      placeholder="Buscar..." fieldSize="small">
    <button nbSuffix nbButton size="small" (click)="searching()" status="info">
      <nb-icon icon="search"></nb-icon>
    </button>
  </nb-form-field>
  <div class="selectors-container">
    <nb-select *ngIf="show_per_page" (selectedChange)="changeOptions('per_page', $event)" [selected]="baConfPage.per_page" size="small"
    status="info">
    <nb-option *ngFor="let number of list_per_page" [value]="number"> {{number}} por página</nb-option>
  </nb-select>
<nb-select *ngIf="show_order" (selectedChange)="changeOptions('order', $event)" [selected]="baConfPage.order" size="small"
    status="info">
    <nb-option *ngFor="let order of list_order" [value]="order.value">{{order.text}}</nb-option>
</nb-select>
  </div>
  
  <!-- <div class="input-group mb-2 mr-2" *ngIf="customButton.show">
    class="d-none d-md-block d-lg-block" 
    <button nbButton type="button" size="small" status="info" (click)="customButtonAction()">
      <i [class]="customButton.class"></i> <span>{{customButton.text}}</span>
    </button>
  </div> -->
</form>
