<ngx-auth-block>
  <h1 id="title" class="title">Cambio de contraseña</h1>
  <p class="sub-title">Vamos a reiniciar tu contraseña, ingresá una contraseña nueva para poder loguear con tu usario una vez mas.</p>
  
  <nb-alert accent="danger" class="text-center" *ngIf="errors && errors.length > 0 && !submitted">
    <div *ngFor="let error of errors">{{ error }}</div>
  </nb-alert>
  <nb-alert accent="success" class="text-center" *ngIf="messages && messages.length > 0 && !submitted">
    <div *ngFor="let message of messages">{{ message }}</div>
  </nb-alert>
  
  <form (ngSubmit)="resetPass()" #resetPassForm="ngForm" aria-labelledby="title">
  
    <div class="form-group">
      <label class="label" class="sr-only">Nuevo Password:</label>
      <input nbInput
             [(ngModel)]="user.password"
             #password="ngModel"
             type="password"
             id="input-password"
             name="password"
             class="first"
             placeholder="Nuevo Password"
             autofocus
             fullWidth
             fieldSize="large"
             [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
             [required]="getConfigValue('forms.validation.password.required')"
             [minlength]="getConfigValue('forms.validation.password.minLength')"
             [maxlength]="getConfigValue('forms.validation.password.maxLength')"
             [attr.aria-invalid]="password.invalid && password.touched ? true : null">
      <ng-container *ngIf="password.invalid && password.touched">
        <p class="caption status-danger" *ngIf="password.errors?.required">
          Password is required!
        </p>
        <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
          Password should contains
          from {{getConfigValue('forms.validation.password.minLength')}}
          to {{getConfigValue('forms.validation.password.maxLength')}}
          characters
        </p>
      </ng-container>
    </div>
  
    <div class="form-group">
      <label class="label" class="sr-only">Confirmar Password:</label>
      <input nbInput
             [(ngModel)]="user.confirmPassword"
             #rePass="ngModel"
             id="input-re-password"
             name="rePass"
             type="password"
             class="last"
             placeholder="Confirmar nuevo Password"
             fullWidth
             fieldSize="large"
             [status]="rePass.touched
                 ? (rePass.invalid || password.value != rePass.value ? 'danger' : 'success')
                 : 'basic'"
             [required]="getConfigValue('forms.validation.password.required')"
             [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
      <ng-container *ngIf="rePass.touched">
        <p class="caption status-danger" *ngIf="rePass.invalid && rePass.errors?.required">
          Password confirmation is required!
        </p>
        <p class="caption status-danger" *ngIf="password.value != rePass.value && !rePass.errors?.required">
          Password does not match the confirm password.
        </p>
      </ng-container>
    </div>
  
    <button nbButton
            status="primary"
            fullWidth
            size="large"
            [disabled]="submitted || !resetPassForm.valid"
            [class.btn-pulse]="submitted">
      Cambiar password
    </button>
  </form>
  <hr />
  <section class="another-action text-center" aria-label="Register">
    <p>
      <a class="text-link" routerLink="../login">
        <nb-icon icon="arrow-back-outline"></nb-icon>Volver al login
      </a>
    </p>
  </section> 
</ngx-auth-block>