:host ::ng-deep {
  $auth-layout-padding: 2.5rem;

  nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding: $auth-layout-padding;
  }

  nb-card {
    height: calc(100vh - 2 * #{$auth-layout-padding});
  }

  nb-card {
    margin: 0;
  }

  .flex-centered {
    margin: auto;
  }

  nb-card-body {
    display: flex;
    flex-direction: column;
  }

  #logo {
    height: 50px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    flex-direction: row;

    img {
      max-width: 150px;
    }
  }

  // TODO rewrite when develop responsive
  @media (max-width: 550px) {
    ::ng-deep nb-layout .layout .layout-container .content .columns nb-layout-column {
      padding: 0;
    }

    nb-card {
      border-radius: 0;
      height: 100vh;
    }
  }

}
