<form [formGroup]="formUser" (ngSubmit)="createData(formUser.value)">
  <user-form [group]="formUser" [isCreation]="true" (invalidForm)="changeValidForm($event)"></user-form>
  <div class="row justify-content-md-center">
    <div class="col-md-10 col-lg-10 col-xl-8">
      <div class="alert alert-danger" role="alert" *ngIf="messageError">
        <div [innerHTML]="messageError"></div>
      </div>
      <div class="form-group text-center">
        <button nbButton type="submit" size="small" [disabled]="!formUser.valid || submitted || !formValid"
          status="success" class="mr-2">
          <nb-icon [icon]="submitted ? 'refresh' : 'edit'" [ngClass]="{'fa-spin' : submitted}"></nb-icon>
          Crear
        </button>
        <button nbButton type="button" size="small" [disabled]="submitted" status="default" (click)="goBack()">
          <nb-icon icon="close"></nb-icon>
          Cancelar
        </button>
      </div>
    </div>
  </div>
</form>