<div class="row">
    <div class="col-md-2 col-sm-6">
        <form (ngSubmit)="findProd()">
            <div class="form-group">
                <label>Codigo:</label>
                <input type="text" class="form-control" [(ngModel)]="newSaleItem.code" name="stock_code" #CodeInput>
            </div>
        </form>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label>Producto:</label>
            <select2-component
                    [id]="selectId"
                    class="sm"
                    service="product"
                    [defaultValue]="newSaleItem.prod"
                    [clearThis]="clearNewSaleItem"
                    (onChangeValue)="newSaleItem.code = $event.code; newSaleItem.price = $event.price; newSaleItem.prod = $event; changeToPriceInput()"></select2-component>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <form (ngSubmit)="changeToQtyInput()">
            <div class="form-group">
                <label>Precio ($):</label>
                <div class="input-group">
                    <input type="number" nbInput fullWidth name="stock_price" [(ngModel)]="newSaleItem.price" #PriceInput>
                    <div class="input-icon">$</div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 col-sm-6">
        <form (ngSubmit)="addNewItem()">
            <div class="form-group">
                <label>Cantidad:</label>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" name="stock_qty" [(ngModel)]="newSaleItem.qty" #QtyInput>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-success btn-sm2" (click)="addNewItem()" style="padding: 0 10px;"> <i class="fa fa-plus"></i> </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<p class="text-danger">{{findError}}</p>