<ng-template #openModalDialog let-link let-ref="dialogRef">
    <nb-card class="links-icon-selector">
        <nb-card-header>
            {{baModalConfig.title}}
            <button nbButton class="float-right" (click)="close()" size="tiny">
                <nb-icon icon="close"></nb-icon>
            </button>
        </nb-card-header>
        <nb-card-body>
            {{baModalConfig.body}}
            <div *ngIf="error" class="text-danger" style="padding-top: 20px;">{{error}}</div>
        </nb-card-body>
        <nb-card-footer class="text-center">
            <button nbButton size="small" [disabled]="disabled" [status]="baModalConfig.buttonOkeyColor"
                class="confirm-btn" (click)="okey()"><i
                    [ngClass]="disabled ? 'fa fa-sync-alt fa-spin' : baModalConfig.buttonOkeyIcon" class="mr-2"></i>
                {{baModalConfig.buttonOkey}}</button>
            <button nbButton size="small" [disabled]="disabled" status="default" (click)="cancel()">Cancelar</button>
        </nb-card-footer>
    </nb-card>
</ng-template>