@import './themes';

@mixin nb-overrides() {
  //HTML Elements
  table {
    .btn-inline {
      button {
        margin: 0 2px;
      }
    }
  }

  .position-right{
    right: -4px;
  }
  .position-top{
    top: -4px;
  } 
  
  // Nebular Elements
  nb-icon svg {
    vertical-align: top;
  }

  nb-auth-block .links nb-icon {
    font-size: 2.5rem;
  }

  nb-toast{
    .message {
      white-space: pre;
    }
    &.status-basic.toast-message {
      background: #222b45;
      border-color: #222b45;
      color: #ffffff;
  
      &:hover{
        background: #274160;
        border-color: #274160;
      }
  
      & .title, & .subtitle, &:hover .title, &:hover .subtitle{
        color: #ffffff;
      }
    }
  }


  nb-tabset{
    .tab-link {
      padding: 1rem 2rem;
      
      &.active:before{
        border-radius: 0;
        height: 0.2rem;
      }
    }
  }

  nb-list-item{
    padding: 0.5rem;
  }  
  
  // Nebular Directives
  [nbInput]{
    width: 100%;
    font-size: 12px;
    padding: 3px 5px;
    background: none;
    margin-bottom: 5px;
    box-shadow: none;
    //border-radius: 0 !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 2px;

    &:not(.status-warning, .status-danger, :focus){
      border-color: nb-theme(border-basic-color-4);
    }
    
    &:focus{
      border-bottom-width: 2px;
    }

    &::placeholder{
      font-size: 12px;
    }
  }

  [nbButton]{
    margin-bottom: 0.3rem;
  }
}