<ngx-auth-block>
  <h1 id="title" class="title">Recuperación de contraseña</h1>
  <p class="sub-title">Ingresa tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu
    contraseña</p>

    <nb-alert accent="danger" class="text-center" *ngIf="errors && errors.length > 0 && !submitted">
      <div *ngFor="let error of errors">{{ error }}</div>
    </nb-alert>
    <nb-alert accent="success" class="text-center" *ngIf="messages && messages.length > 0 && !submitted">
      <div *ngFor="let message of messages">{{ message }}</div>
    </nb-alert>

  <form (ngSubmit)="requestPass()" #requestPassForm="ngForm" aria-labelledby="title">

    <div class="form-group">
      <label class="label" class="sr-only">Ingrese su correo electronico:</label>
      <input nbInput [(ngModel)]="user.email" #email="ngModel" id="input-email" name="email" pattern=".+@.+\..+"
        placeholder="Tu correo electronico" autofocus fullWidth fieldSize="large"
        [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'" required
        [attr.aria-invalid]="email.invalid && email.touched ? true : null">
      <ng-container *ngIf="email.invalid && email.touched">
        <p class="caption status-danger" *ngIf="email.errors?.required">
          Se requiere un correo electronico!
        </p>
        <p class="caption status-danger" *ngIf="email.errors?.pattern">
          El correo electronico no es valido
        </p>
      </ng-container>
    </div>

    <button nbButton fullWidth status="primary" [disabled]="submitted || !requestPassForm.valid"
      [class.btn-pulse]="submitted">
      Recuperar contraseña
    </button>
  </form>
  <hr />
  <section class="another-action text-center" aria-label="Register">
    <p>
      <a class="text-link" routerLink="../login">
        <nb-icon icon="arrow-back-outline"></nb-icon>Volver al login
      </a>
    </p>
  </section>

</ngx-auth-block>